# PyCitySchools Analysis

Overall, math and reading scores at each school are consistent across grade levels.
Higher budgets appear to be inversely correlated with better student outcomes - schools with budgets under $615 per student are outperforming schools with budgets over $615 per student.  Charter schools also have lower budgets than district schools and better student outcomes, which might explain this difference.  It would be useful to study the differences between charter and district schools in greater detail than is captured in this dataset.

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [92]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [93]:
#Calculate the total number of schools

total_schools = pd.unique(school_data_complete["school_name"])
len(total_schools)

15

In [94]:
#Calculate the total number of students
total_students = pd.unique(school_data_complete["Student ID"])
len(total_students)

39170

In [95]:
#Calculate the total budget
total_budget = school_data['budget'].sum()
print (total_budget)

24649428

In [96]:
#Calculate the average math score

avg_math = school_data_complete['math_score'].mean()
print (avg_math)

78.98537145774827

In [97]:
#Calculate the average reading score

avg_reading = school_data_complete['reading_score'].mean()
print (avg_reading)

81.87784018381414

In [98]:
#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

overall_avg = (avg_math + avg_reading) / 2
print(overall_avg)

80.43160582078121

In [99]:
#Overall passing rate (percentage of all students with a passing overall score)

In [100]:
#Calculate the percentage of students with a passing math score (70 or greater)

students_passing_math = school_data_complete.loc[(school_data_complete["math_score"] >= 70)]

#calculate how many students have a math score of 70 or greater

len(students_passing_math)

#divide students passing math by total # of students

percent_passing_math = len(students_passing_math) / len(total_students)
percent_passing_math

0.749808526933878

In [104]:
#Calculate the percentage of students with a passing reading score (70 or greater)

students_passing_reading = school_data_complete.loc[(school_data_complete["reading_score"] >= 70)]

#calculate how many students have a reading score of 70 or greater

len(students_passing_reading)

#divide students passing reading by total # of students

percent_passing_reading = len(students_passing_reading) / len(total_students)
percent_passing_reading

0.8580546336482001

In [105]:
#Create a dataframe to hold the above results

district_summary_df = pd.DataFrame({
    "Total Schools": len(total_schools),
    "Total Students": len(total_students),
    "Total Budget": [total_budget],
    "Average Math Score": [avg_math],
    "Average Reading Score": [avg_reading],
    "% Passing Math": [percent_passing_math],
    "% Passing Reading": [percent_passing_reading],
    "% Overall Passing Rate": [overall_avg]
})
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,80.431606

In [106]:
#Optional: give the displayed data cleaner formatting

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [107]:
#Sort the school_data dataframe by school
renamed_school_data = school_data.rename(columns={"school_name": "School Name",
                                        "type": "Type",
                                        "size": "Total Students",
                                        "budget": "Budget", })

df_by_school = renamed_school_data.set_index("School Name")
df_by_school

                       School ID      Type  Total Students   Budget
School Name
Huang High School              0  District            2917  1910635
Figueroa High School           1  District            2949  1884411
Shelton High School            2   Charter            1761  1056600
Hernandez High School          3  District            4635  3022020
Griffin High School            4   Charter            1468   917500
Wilson High School             5   Charter            2283  1319574
Cabrera High School            6   Charter            1858  1081356
Bailey High School             7  District            4976  3124928
Holden High School             8   Charter             427   248087
Pena High School               9   Charter             962   585858
Wright High School            10   Charter            1800  1049400
Rodriguez High School         11  District            3999  2547363
Johnson High School           12  District            4761  3094650
Ford High School              13  District            2739  1763916
Thomas High School            14   Charter            1635  1043130

In [108]:
#remove the School ID column
school_clean = df_by_school[["Type", "Total Students", "Budget"]]
school_clean.head()

                           Type  Total Students   Budget
School Name
Huang High School      District            2917  1910635
Figueroa High School   District            2949  1884411
Shelton High School     Charter            1761  1056600
Hernandez High School  District            4635  3022020
Griffin High School     Charter            1468   917500

In [109]:
#generate and add the Per Student Budget column

per_student_budget = school_clean["Budget"]/school_clean["Total Students"]
school_clean["Per Student Budget"] = per_student_budget

school_clean.head()

                           Type  Total Students   Budget  Per Student Budget
School Name
Huang High School      District            2917  1910635               655.0
Figueroa High School   District            2949  1884411               639.0
Shelton High School     Charter            1761  1056600               600.0
Hernandez High School  District            4635  3022020               652.0
Griffin High School     Charter            1468   917500               625.0

In [110]:
#generate and add the average math and reading scores

#break the dataframe into separate dataframes for each school or otherwise apply the formulas to get the results per school

huang_df = school_data_complete.loc[(school_data_complete["school_name"] == "Huang High School")]
huang_avg_math = huang_df['math_score'].mean()
huang_avg_reading = huang_df['reading_score'].mean()
figueroa_df = school_data_complete.loc[(school_data_complete["school_name"] == "Figueroa High School")]
figueroa_avg_math = figueroa_df['math_score'].mean()
figueroa_avg_reading = figueroa_df['reading_score'].mean()
shelton_df = school_data_complete.loc[(school_data_complete["school_name"] == "Shelton High School")]
shelton_avg_math = shelton_df['math_score'].mean()
shelton_avg_reading = shelton_df['reading_score'].mean()
hernandez_df = school_data_complete.loc[(school_data_complete["school_name"] == "Hernandez High School")]
hernandez_avg_math = hernandez_df['math_score'].mean()
hernandez_avg_reading = hernandez_df['reading_score'].mean()
griffin_df = school_data_complete.loc[(school_data_complete["school_name"] == "Griffin High School")]
griffin_avg_math = griffin_df['math_score'].mean()
griffin_avg_reading = griffin_df['reading_score'].mean()
wilson_df = school_data_complete.loc[(school_data_complete["school_name"] == "Wilson High School")]
wilson_avg_math = wilson_df['math_score'].mean()
wilson_avg_reading = wilson_df['reading_score'].mean()
cabrera_df = school_data_complete.loc[(school_data_complete["school_name"] == "Cabrera High School")]
cabrera_avg_math = cabrera_df['math_score'].mean()
cabrera_avg_reading = cabrera_df['reading_score'].mean()
bailey_df = school_data_complete.loc[(school_data_complete["school_name"] == "Bailey High School")]
bailey_avg_math = bailey_df['math_score'].mean()
bailey_avg_reading = bailey_df['reading_score'].mean()
holden_df = school_data_complete.loc[(school_data_complete["school_name"] == "Holden High School")]
holden_avg_math = holden_df['math_score'].mean()
holden_avg_reading = holden_df['reading_score'].mean()
pena_df = school_data_complete.loc[(school_data_complete["school_name"] == "Pena High School")]
pena_avg_math = pena_df['math_score'].mean()
pena_avg_reading = pena_df['reading_score'].mean()
wright_df = school_data_complete.loc[(school_data_complete["school_name"] == "Wright High School")]
wright_avg_math = wright_df['math_score'].mean()
wright_avg_reading = wright_df['reading_score'].mean()
rodriguez_df = school_data_complete.loc[(school_data_complete["school_name"] == "Rodriguez High School")]
rodriguez_avg_math = rodriguez_df['math_score'].mean()
rodriguez_avg_reading = rodriguez_df['reading_score'].mean()
johnson_df = school_data_complete.loc[(school_data_complete["school_name"] == "Johnson High School")]
johnson_avg_math = johnson_df['math_score'].mean()
johnson_avg_reading = johnson_df['reading_score'].mean()
ford_df = school_data_complete.loc[(school_data_complete["school_name"] == "Ford High School")]
ford_avg_math = ford_df['math_score'].mean()
ford_avg_reading = ford_df['reading_score'].mean()
thomas_df = school_data_complete.loc[(school_data_complete["school_name"] == "Thomas High School")]
thomas_avg_math = thomas_df['math_score'].mean()
thomas_avg_reading = thomas_df['reading_score'].mean()

avg_math_byschool = [huang_avg_math, figueroa_avg_math, shelton_avg_math, hernandez_avg_math, griffin_avg_math, wilson_avg_math,
                    cabrera_avg_math, bailey_avg_math, holden_avg_math, pena_avg_math, wright_avg_math, rodriguez_avg_math, 
                    johnson_avg_math, ford_avg_math, thomas_avg_math]

school_clean["Avg Math Score"] = avg_math_byschool


avg_reading_byschool = [huang_avg_reading, figueroa_avg_reading, shelton_avg_reading, hernandez_avg_reading, griffin_avg_reading, wilson_avg_reading,
                    cabrera_avg_reading, bailey_avg_reading, holden_avg_reading, pena_avg_reading, wright_avg_reading, rodriguez_avg_reading, 
                    johnson_avg_reading, ford_avg_reading, thomas_avg_reading]

school_clean["Avg Reading Score"] = avg_reading_byschool

school_clean.head()

,Type,Total Students,Budget,Per Student Budget,Avg Math Score,Avg Reading Score
School Name,,,,,,
Huang High School,District,2917,1910635,655.0,76.629414,81.182722
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757

In [111]:
#generate the % passing math and % passing reading and total % passing column for each school

huang_total_students = pd.unique(huang_df["Student ID"])
huang_passing_math = huang_df.loc[(huang_df["math_score"] >= 70)]
huang_percent_passing_math = len(huang_passing_math) / len(huang_total_students)
huang_passing_reading = huang_df.loc[(huang_df["reading_score"] >= 70)]
huang_percent_passing_reading = len(huang_passing_reading) / len(huang_total_students)
huang_overall_pass = (huang_percent_passing_math + huang_percent_passing_reading) / 2

figueroa_total_students = pd.unique(figueroa_df["Student ID"])
figueroa_passing_math = figueroa_df.loc[(figueroa_df["math_score"] >= 70)]
figueroa_percent_passing_math = len(figueroa_passing_math) / len(figueroa_total_students)
figueroa_passing_reading = figueroa_df.loc[(figueroa_df["reading_score"] >= 70)]
figueroa_percent_passing_reading = len(figueroa_passing_reading) / len(figueroa_total_students)
figueroa_overall_pass = (figueroa_percent_passing_math + figueroa_percent_passing_reading) / 2

shelton_total_students = pd.unique(shelton_df["Student ID"])
shelton_passing_math = shelton_df.loc[(shelton_df["math_score"] >= 70)]
shelton_percent_passing_math = len(shelton_passing_math) / len(shelton_total_students)
shelton_passing_reading = shelton_df.loc[(shelton_df["reading_score"] >= 70)]
shelton_percent_passing_reading = len(shelton_passing_reading) / len(shelton_total_students)
shelton_overall_pass = (shelton_percent_passing_math + shelton_percent_passing_reading) / 2

hernandez_total_students = pd.unique(hernandez_df["Student ID"])
hernandez_passing_math = hernandez_df.loc[(hernandez_df["math_score"] >= 70)]
hernandez_percent_passing_math = len(hernandez_passing_math) / len(hernandez_total_students)
hernandez_passing_reading = hernandez_df.loc[(hernandez_df["reading_score"] >= 70)]
hernandez_percent_passing_reading = len(hernandez_passing_reading) / len(hernandez_total_students)
hernandez_overall_pass = (hernandez_percent_passing_math + hernandez_percent_passing_reading) / 2

griffin_total_students = pd.unique(griffin_df["Student ID"])
griffin_passing_math = griffin_df.loc[(griffin_df["math_score"] >= 70)]
griffin_percent_passing_math = len(griffin_passing_math) / len(griffin_total_students)
griffin_passing_reading = griffin_df.loc[(griffin_df["reading_score"] >= 70)]
griffin_percent_passing_reading = len(griffin_passing_reading) / len(griffin_total_students)
griffin_overall_pass = (griffin_percent_passing_math + griffin_percent_passing_reading) / 2

wilson_total_students = pd.unique(wilson_df["Student ID"])
wilson_passing_math = wilson_df.loc[(wilson_df["math_score"] >= 70)]
wilson_percent_passing_math = len(wilson_passing_math) / len(wilson_total_students)
wilson_passing_reading = wilson_df.loc[(wilson_df["reading_score"] >= 70)]
wilson_percent_passing_reading = len(wilson_passing_reading) / len(wilson_total_students)
wilson_overall_pass = (wilson_percent_passing_math + wilson_percent_passing_reading) / 2

cabrera_total_students = pd.unique(cabrera_df["Student ID"])
cabrera_passing_math = cabrera_df.loc[(cabrera_df["math_score"] >= 70)]
cabrera_percent_passing_math = len(cabrera_passing_math) / len(cabrera_total_students)
cabrera_passing_reading = cabrera_df.loc[(cabrera_df["reading_score"] >= 70)]
cabrera_percent_passing_reading = len(cabrera_passing_reading) / len(cabrera_total_students)
cabrera_overall_pass = (cabrera_percent_passing_math + cabrera_percent_passing_reading) / 2

bailey_total_students = pd.unique(bailey_df["Student ID"])
bailey_passing_math = bailey_df.loc[(bailey_df["math_score"] >= 70)]
bailey_percent_passing_math = len(bailey_passing_math) / len(bailey_total_students)
bailey_passing_reading = bailey_df.loc[(bailey_df["reading_score"] >= 70)]
bailey_percent_passing_reading = len(bailey_passing_reading) / len(bailey_total_students)
bailey_overall_pass = (bailey_percent_passing_math + bailey_percent_passing_reading) / 2

holden_total_students = pd.unique(holden_df["Student ID"])
holden_passing_math = holden_df.loc[(holden_df["math_score"] >= 70)]
holden_percent_passing_math = len(holden_passing_math) / len(holden_total_students)
holden_passing_reading = holden_df.loc[(holden_df["reading_score"] >= 70)]
holden_percent_passing_reading = len(holden_passing_reading) / len(holden_total_students)
holden_overall_pass = (holden_percent_passing_math + holden_percent_passing_reading) / 2

pena_total_students = pd.unique(pena_df["Student ID"])
pena_passing_math = pena_df.loc[(pena_df["math_score"] >= 70)]
pena_percent_passing_math = len(pena_passing_math) / len(pena_total_students)
pena_passing_reading = pena_df.loc[(pena_df["reading_score"] >= 70)]
pena_percent_passing_reading = len(pena_passing_reading) / len(pena_total_students)
pena_overall_pass = (pena_percent_passing_math + pena_percent_passing_reading) / 2

wright_total_students = pd.unique(wright_df["Student ID"])
wright_passing_math = wright_df.loc[(wright_df["math_score"] >= 70)]
wright_percent_passing_math = len(wright_passing_math) / len(wright_total_students)
wright_passing_reading = wright_df.loc[(wright_df["reading_score"] >= 70)]
wright_percent_passing_reading = len(wright_passing_reading) / len(wright_total_students)
wright_overall_pass = (wright_percent_passing_math + wright_percent_passing_reading) / 2

rodriguez_total_students = pd.unique(rodriguez_df["Student ID"])
rodriguez_passing_math = rodriguez_df.loc[(rodriguez_df["math_score"] >= 70)]
rodriguez_percent_passing_math = len(rodriguez_passing_math) / len(rodriguez_total_students)
rodriguez_passing_reading = rodriguez_df.loc[(rodriguez_df["reading_score"] >= 70)]
rodriguez_percent_passing_reading = len(rodriguez_passing_reading) / len(rodriguez_total_students)
rodriguez_overall_pass = (rodriguez_percent_passing_math + rodriguez_percent_passing_reading) / 2

johnson_total_students = pd.unique(johnson_df["Student ID"])
johnson_passing_math = johnson_df.loc[(johnson_df["math_score"] >= 70)]
johnson_percent_passing_math = len(johnson_passing_math) / len(johnson_total_students)
johnson_passing_reading = johnson_df.loc[(johnson_df["reading_score"] >= 70)]
johnson_percent_passing_reading = len(johnson_passing_reading) / len(johnson_total_students)
johnson_overall_pass = (johnson_percent_passing_math + johnson_percent_passing_reading) / 2

ford_total_students = pd.unique(ford_df["Student ID"])
ford_passing_math = ford_df.loc[(ford_df["math_score"] >= 70)]
ford_percent_passing_math = len(ford_passing_math) / len(ford_total_students)
ford_passing_reading = ford_df.loc[(ford_df["reading_score"] >= 70)]
ford_percent_passing_reading = len(ford_passing_reading) / len(ford_total_students)
ford_overall_pass = (ford_percent_passing_math + ford_percent_passing_reading) / 2

thomas_total_students = pd.unique(thomas_df["Student ID"])
thomas_passing_math = thomas_df.loc[(thomas_df["math_score"] >= 70)]
thomas_percent_passing_math = len(thomas_passing_math) / len(thomas_total_students)
thomas_passing_reading = thomas_df.loc[(thomas_df["reading_score"] >= 70)]
thomas_percent_passing_reading = len(thomas_passing_reading) / len(thomas_total_students)
thomas_overall_pass = (thomas_percent_passing_math + thomas_percent_passing_reading) / 2
    
passing_math_byschool = [huang_percent_passing_math, figueroa_percent_passing_math, shelton_percent_passing_math, 
                         hernandez_percent_passing_math, griffin_percent_passing_math, wilson_percent_passing_math, 
                         cabrera_percent_passing_math, bailey_percent_passing_math, holden_percent_passing_math,
                         pena_percent_passing_math, wright_percent_passing_math, rodriguez_percent_passing_math, 
                         johnson_percent_passing_math, ford_percent_passing_math, thomas_percent_passing_math]

passing_reading_byschool = [huang_percent_passing_reading, figueroa_percent_passing_reading, shelton_percent_passing_reading, 
                         hernandez_percent_passing_reading, griffin_percent_passing_reading, wilson_percent_passing_reading, 
                         cabrera_percent_passing_reading, bailey_percent_passing_reading, holden_percent_passing_reading,
                         pena_percent_passing_reading, wright_percent_passing_reading, rodriguez_percent_passing_reading, 
                         johnson_percent_passing_reading, ford_percent_passing_reading, thomas_percent_passing_reading]

overall_pass_byschool = [huang_overall_pass, figueroa_overall_pass, shelton_overall_pass, hernandez_overall_pass, 
                         griffin_overall_pass, wilson_overall_pass, cabrera_overall_pass, bailey_overall_pass, 
                         holden_overall_pass, pena_overall_pass, wright_overall_pass, rodriguez_overall_pass, 
                         johnson_overall_pass, ford_overall_pass, thomas_overall_pass]


school_clean["% Passing Math"] = passing_math_byschool
school_clean["% Passing Reading"] = passing_reading_byschool
school_clean["% Overall Pass Rate"] = overall_pass_byschool

In [127]:
#Create an overview table that summarizes key metrics about each school, including:

#School Name
#School Type
#Total Students
#Total School Budget
#Per Student Budget
#Average Math Score
#Average Reading Score
#% Passing Math
#% Passing Reading
#Overall Passing Rate (Average of the above two)
#Create a dataframe to hold the above results

school_clean.head

<bound method NDFrame.head of                            Type  Total Students   Budget  Per Student Budget  \
School Name
Huang High School      District            2917  1910635               655.0
Figueroa High School   District            2949  1884411               639.0
Shelton High School     Charter            1761  1056600               600.0
Hernandez High School  District            4635  3022020               652.0
Griffin High School     Charter            1468   917500               625.0
Wilson High School      Charter            2283  1319574               578.0
Cabrera High School     Charter            1858  1081356               582.0
Bailey High School     District            4976  3124928               628.0
Holden High School      Charter             427   248087               581.0
Pena High School        Charter             962   585858               609.0
Wright High School      Charter            1800  1049400               583.0
Rodriguez High School  District            3999  2547363               637.0
Johnson High School    District            4761  3094650               650.0
Ford High School       District            2739  1763916               644.0
Thomas High School      Charter            1635  1043130               638.0

                       Avg Math Score  Avg Reading Score  % Passing Math  \
School Name
Huang High School           76.629414          81.182722        0.656839
Figueroa High School        76.711767          81.158020        0.659885
Shelton High School         83.359455          83.725724        0.938671
Hernandez High School       77.289752          80.934412        0.667530
Griffin High School         83.351499          83.816757        0.933924
Wilson High School          83.274201          83.989488        0.938677
Cabrera High School         83.061895          83.975780        0.941335
Bailey High School          77.048432          81.033963        0.666801
Holden High School          83.803279          83.814988        0.925059
Pena High School            83.839917          84.044699        0.945946
Wright High School          83.682222          83.955000        0.933333
Rodriguez High School       76.842711          80.744686        0.663666
Johnson High School         77.072464          80.966394        0.660576
Ford High School            77.102592          80.746258        0.683096
Thomas High School          83.418349          83.848930        0.932722

                       % Passing Reading  % Overall Pass Rate  \
School Name
Huang High School               0.813164             0.735002
Figueroa High School            0.807392             0.733639
Shelton High School             0.958546             0.948609
Hernandez High School           0.808630             0.738080
Griffin High School             0.971390             0.952657
Wilson High School              0.965396             0.952037
Cabrera High School             0.970398             0.955867
Bailey High School              0.819333             0.743067
Holden High School              0.962529             0.943794
Pena High School                0.959459             0.952703
Wright High School              0.966111             0.949722
Rodriguez High School           0.802201             0.732933
Johnson High School             0.812224             0.736400
Ford High School                0.792990             0.738043
Thomas High School              0.973089             0.952905

                      Scores By Student Budget      Scores By Size
School Name
Huang High School                     $645-675   Large (2000-5000)
Figueroa High School                  $615-645   Large (2000-5000)
Shelton High School                   $585-615  Medium (1000-2000)
Hernandez High School                 $645-675   Large (2000-5000)
Griffin High School                   $615-645  Medium (1000-2000)
Wilson High School                       <$585   Large (2000-5000)
Cabrera High School                      <$585  Medium (1000-2000)
Bailey High School                    $615-645   Large (2000-5000)
Holden High School                       <$585       Small (<1000)
Pena High School                      $585-615       Small (<1000)
Wright High School                       <$585  Medium (1000-2000)
Rodriguez High School                 $615-645   Large (2000-5000)
Johnson High School                   $645-675   Large (2000-5000)
Ford High School                      $615-645   Large (2000-5000)
Thomas High School                    $615-645  Medium (1000-2000)  >

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [113]:
top_5_schools = school_clean.sort_values("% Overall Pass Rate", ascending=False)
top_5_schools.head(5)

,Type,Total Students,Budget,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Pass Rate
School Name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.955867
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.952905
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.952703
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.952657
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.952037

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [114]:
top_5_schools = school_clean.sort_values("% Overall Pass Rate", ascending=True)
top_5_schools.head(5)

,Type,Total Students,Budget,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Pass Rate
School Name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.732933
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.733639
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.735002
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.736400
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.738043

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [115]:
#create a Pandas series for each grade using a conditional statement

school_data_complete.head()

fr = school_data_complete.loc[school_data_complete["grade"] == "9th", :]
so = school_data_complete.loc[school_data_complete["grade"] == "10th", :]
jr = school_data_complete.loc[school_data_complete["grade"] == "11th", :]
sr = school_data_complete.loc[school_data_complete["grade"] == "12th", :]

In [116]:
#group each series by school

fr_math_byschool = fr_math.groupby(["school_name"])
fr_math_byschool.head(10)


huang_math_9 = fr.loc[(fr["school_name"] == "Huang High School")]
huang_avg_math_9 = huang_math_9['math_score'].mean()
huang_math_10 = so.loc[(so["school_name"] == "Huang High School")]
huang_avg_math_10 = huang_math_10['math_score'].mean()
huang_math_11 = jr.loc[(jr["school_name"] == "Huang High School")]
huang_avg_math_11 = huang_math_11['math_score'].mean()
huang_math_12 = sr.loc[(sr["school_name"] == "Huang High School")]
huang_avg_math_12 = huang_math_12['math_score'].mean()

huang_reading_9 = fr.loc[(fr["school_name"] == "Huang High School")]
huang_avg_reading_9 = huang_reading_9['reading_score'].mean()
huang_reading_10 = so.loc[(so["school_name"] == "Huang High School")]
huang_avg_reading_10 = huang_reading_10['reading_score'].mean()
huang_reading_11 = jr.loc[(jr["school_name"] == "Huang High School")]
huang_avg_reading_11 = huang_reading_11['reading_score'].mean()
huang_reading_12 = sr.loc[(sr["school_name"] == "Huang High School")]
huang_avg_reading_12 = huang_reading_12['reading_score'].mean()

figueroa_math_9 = fr.loc[(fr["school_name"] == "Figueroa High School")]
figueroa_avg_math_9 = figueroa_math_9['math_score'].mean()
figueroa_math_10 = so.loc[(so["school_name"] == "Figueroa High School")]
figueroa_avg_math_10 = figueroa_math_10['math_score'].mean()
figueroa_math_11 = jr.loc[(jr["school_name"] == "Figueroa High School")]
figueroa_avg_math_11 = figueroa_math_11['math_score'].mean()
figueroa_math_12 = sr.loc[(sr["school_name"] == "Figueroa High School")]
figueroa_avg_math_12 = figueroa_math_12['math_score'].mean()

figueroa_reading_9 = fr.loc[(fr["school_name"] == "Figueroa High School")]
figueroa_avg_reading_9 = figueroa_reading_9['reading_score'].mean()
figueroa_reading_10 = so.loc[(so["school_name"] == "Figueroa High School")]
figueroa_avg_reading_10 = figueroa_reading_10['reading_score'].mean()
figueroa_reading_11 = jr.loc[(jr["school_name"] == "Figueroa High School")]
figueroa_avg_reading_11 = figueroa_reading_11['reading_score'].mean()
figueroa_reading_12 = sr.loc[(sr["school_name"] == "Figueroa High School")]
figueroa_avg_reading_12 = figueroa_reading_12['reading_score'].mean()


shelton_math_9 = fr.loc[(fr["school_name"] == "Shelton High School")]
shelton_avg_math_9 = shelton_math_9['math_score'].mean()
shelton_math_10 = so.loc[(so["school_name"] == "Shelton High School")]
shelton_avg_math_10 = shelton_math_10['math_score'].mean()
shelton_math_11 = jr.loc[(jr["school_name"] == "Shelton High School")]
shelton_avg_math_11 = shelton_math_11['math_score'].mean()
shelton_math_12 = sr.loc[(sr["school_name"] == "Shelton High School")]
shelton_avg_math_12 = shelton_math_12['math_score'].mean()

shelton_reading_9 = fr.loc[(fr["school_name"] == "Shelton High School")]
shelton_avg_reading_9 = shelton_reading_9['reading_score'].mean()
shelton_reading_10 = so.loc[(so["school_name"] == "Shelton High School")]
shelton_avg_reading_10 = shelton_reading_10['reading_score'].mean()
shelton_reading_11 = jr.loc[(jr["school_name"] == "Shelton High School")]
shelton_avg_reading_11 = shelton_reading_11['reading_score'].mean()
shelton_reading_12 = sr.loc[(sr["school_name"] == "Shelton High School")]
shelton_avg_reading_12 = shelton_reading_12['reading_score'].mean()

hernandez_math_9 = fr.loc[(fr["school_name"] == "Hernandez High School")]
hernandez_avg_math_9 = hernandez_math_9['math_score'].mean()
hernandez_math_10 = so.loc[(so["school_name"] == "Hernandez High School")]
hernandez_avg_math_10 = hernandez_math_10['math_score'].mean()
hernandez_math_11 = jr.loc[(jr["school_name"] == "Hernandez High School")]
hernandez_avg_math_11 = hernandez_math_11['math_score'].mean()
hernandez_math_12 = sr.loc[(sr["school_name"] == "Hernandez High School")]
hernandez_avg_math_12 = hernandez_math_12['math_score'].mean()

hernandez_reading_9 = fr.loc[(fr["school_name"] == "Hernandez High School")]
hernandez_avg_reading_9 = hernandez_reading_9['reading_score'].mean()
hernandez_reading_10 = so.loc[(so["school_name"] == "Hernandez High School")]
hernandez_avg_reading_10 = hernandez_reading_10['reading_score'].mean()
hernandez_reading_11 = jr.loc[(jr["school_name"] == "Hernandez High School")]
hernandez_avg_reading_11 = hernandez_reading_11['reading_score'].mean()
hernandez_reading_12 = sr.loc[(sr["school_name"] == "Hernandez High School")]
hernandez_avg_reading_12 = hernandez_reading_12['reading_score'].mean()

griffin_math_9 = fr.loc[(fr["school_name"] == "Griffin High School")]
griffin_avg_math_9 = griffin_math_9['math_score'].mean()
griffin_math_10 = so.loc[(so["school_name"] == "Griffin High School")]
griffin_avg_math_10 = griffin_math_10['math_score'].mean()
griffin_math_11 = jr.loc[(jr["school_name"] == "Griffin High School")]
griffin_avg_math_11 = griffin_math_11['math_score'].mean()
griffin_math_12 = sr.loc[(sr["school_name"] == "Griffin High School")]
griffin_avg_math_12 = griffin_math_12['math_score'].mean()

griffin_reading_9 = fr.loc[(fr["school_name"] == "Griffin High School")]
griffin_avg_reading_9 = griffin_reading_9['reading_score'].mean()
griffin_reading_10 = so.loc[(so["school_name"] == "Griffin High School")]
griffin_avg_reading_10 = griffin_reading_10['reading_score'].mean()
griffin_reading_11 = jr.loc[(jr["school_name"] == "Griffin High School")]
griffin_avg_reading_11 = griffin_reading_11['reading_score'].mean()
griffin_reading_12 = sr.loc[(sr["school_name"] == "Griffin High School")]
griffin_avg_reading_12 = griffin_reading_12['reading_score'].mean()

wilson_math_9 = fr.loc[(fr["school_name"] == "Wilson High School")]
wilson_avg_math_9 = wilson_math_9['math_score'].mean()
wilson_math_10 = so.loc[(so["school_name"] == "Wilson High School")]
wilson_avg_math_10 = wilson_math_10['math_score'].mean()
wilson_math_11 = jr.loc[(jr["school_name"] == "Wilson High School")]
wilson_avg_math_11 = wilson_math_11['math_score'].mean()
wilson_math_12 = sr.loc[(sr["school_name"] == "Wilson High School")]
wilson_avg_math_12 = wilson_math_12['math_score'].mean()

wilson_reading_9 = fr.loc[(fr["school_name"] == "Wilson High School")]
wilson_avg_reading_9 = wilson_reading_9['reading_score'].mean()
wilson_reading_10 = so.loc[(so["school_name"] == "Wilson High School")]
wilson_avg_reading_10 = wilson_reading_10['reading_score'].mean()
wilson_reading_11 = jr.loc[(jr["school_name"] == "Wilson High School")]
wilson_avg_reading_11 = wilson_reading_11['reading_score'].mean()
wilson_reading_12 = sr.loc[(sr["school_name"] == "Wilson High School")]
wilson_avg_reading_12 = wilson_reading_12['reading_score'].mean()

cabrera_math_9 = fr.loc[(fr["school_name"] == "Cabrera High School")]
cabrera_avg_math_9 = cabrera_math_9['math_score'].mean()
cabrera_math_10 = so.loc[(so["school_name"] == "Cabrera High School")]
cabrera_avg_math_10 = cabrera_math_10['math_score'].mean()
cabrera_math_11 = jr.loc[(jr["school_name"] == "Cabrera High School")]
cabrera_avg_math_11 = cabrera_math_11['math_score'].mean()
cabrera_math_12 = sr.loc[(sr["school_name"] == "Cabrera High School")]
cabrera_avg_math_12 = cabrera_math_12['math_score'].mean()

cabrera_reading_9 = fr.loc[(fr["school_name"] == "Cabrera High School")]
cabrera_avg_reading_9 = cabrera_reading_9['reading_score'].mean()
cabrera_reading_10 = so.loc[(so["school_name"] == "Cabrera High School")]
cabrera_avg_reading_10 = cabrera_reading_10['reading_score'].mean()
cabrera_reading_11 = jr.loc[(jr["school_name"] == "Cabrera High School")]
cabrera_avg_reading_11 = cabrera_reading_11['reading_score'].mean()
cabrera_reading_12 = sr.loc[(sr["school_name"] == "Cabrera High School")]
cabrera_avg_reading_12 = cabrera_reading_12['reading_score'].mean()

bailey_math_9 = fr.loc[(fr["school_name"] == "Bailey High School")]
bailey_avg_math_9 = bailey_math_9['math_score'].mean()
bailey_math_10 = so.loc[(so["school_name"] == "Bailey High School")]
bailey_avg_math_10 = bailey_math_10['math_score'].mean()
bailey_math_11 = jr.loc[(jr["school_name"] == "Bailey High School")]
bailey_avg_math_11 = bailey_math_11['math_score'].mean()
bailey_math_12 = sr.loc[(sr["school_name"] == "Bailey High School")]
bailey_avg_math_12 = bailey_math_12['math_score'].mean()

bailey_reading_9 = fr.loc[(fr["school_name"] == "Bailey High School")]
bailey_avg_reading_9 = bailey_reading_9['reading_score'].mean()
bailey_reading_10 = so.loc[(so["school_name"] == "Bailey High School")]
bailey_avg_reading_10 = bailey_reading_10['reading_score'].mean()
bailey_reading_11 = jr.loc[(jr["school_name"] == "Bailey High School")]
bailey_avg_reading_11 = bailey_reading_11['reading_score'].mean()
bailey_reading_12 = sr.loc[(sr["school_name"] == "Bailey High School")]
bailey_avg_reading_12 = bailey_reading_12['reading_score'].mean()

holden_math_9 = fr.loc[(fr["school_name"] == "Holden High School")]
holden_avg_math_9 = holden_math_9['math_score'].mean()
holden_math_10 = so.loc[(so["school_name"] == "Holden High School")]
holden_avg_math_10 = holden_math_10['math_score'].mean()
holden_math_11 = jr.loc[(jr["school_name"] == "Holden High School")]
holden_avg_math_11 = holden_math_11['math_score'].mean()
holden_math_12 = sr.loc[(sr["school_name"] == "Holden High School")]
holden_avg_math_12 = holden_math_12['math_score'].mean()

holden_reading_9 = fr.loc[(fr["school_name"] == "Holden High School")]
holden_avg_reading_9 = holden_reading_9['reading_score'].mean()
holden_reading_10 = so.loc[(so["school_name"] == "Holden High School")]
holden_avg_reading_10 = holden_reading_10['reading_score'].mean()
holden_reading_11 = jr.loc[(jr["school_name"] == "Holden High School")]
holden_avg_reading_11 = holden_reading_11['reading_score'].mean()
holden_reading_12 = sr.loc[(sr["school_name"] == "Holden High School")]
holden_avg_reading_12 = holden_reading_12['reading_score'].mean()

pena_math_9 = fr.loc[(fr["school_name"] == "Pena High School")]
pena_avg_math_9 = pena_math_9['math_score'].mean()
pena_math_10 = so.loc[(so["school_name"] == "Pena High School")]
pena_avg_math_10 = pena_math_10['math_score'].mean()
pena_math_11 = jr.loc[(jr["school_name"] == "Pena High School")]
pena_avg_math_11 = pena_math_11['math_score'].mean()
pena_math_12 = sr.loc[(sr["school_name"] == "Pena High School")]
pena_avg_math_12 = pena_math_12['math_score'].mean()

pena_reading_9 = fr.loc[(fr["school_name"] == "Pena High School")]
pena_avg_reading_9 = pena_reading_9['reading_score'].mean()
pena_reading_10 = so.loc[(so["school_name"] == "Pena High School")]
pena_avg_reading_10 = pena_reading_10['reading_score'].mean()
pena_reading_11 = jr.loc[(jr["school_name"] == "Pena High School")]
pena_avg_reading_11 = pena_reading_11['reading_score'].mean()
pena_reading_12 = sr.loc[(sr["school_name"] == "Pena High School")]
pena_avg_reading_12 = pena_reading_12['reading_score'].mean()

wright_math_9 = fr.loc[(fr["school_name"] == "Wright High School")]
wright_avg_math_9 = wright_math_9['math_score'].mean()
wright_math_10 = so.loc[(so["school_name"] == "Wright High School")]
wright_avg_math_10 = wright_math_10['math_score'].mean()
wright_math_11 = jr.loc[(jr["school_name"] == "Wright High School")]
wright_avg_math_11 = wright_math_11['math_score'].mean()
wright_math_12 = sr.loc[(sr["school_name"] == "Wright High School")]
wright_avg_math_12 = wright_math_12['math_score'].mean()

wright_reading_9 = fr.loc[(fr["school_name"] == "Wright High School")]
wright_avg_reading_9 = wright_reading_9['reading_score'].mean()
wright_reading_10 = so.loc[(so["school_name"] == "Wright High School")]
wright_avg_reading_10 = wright_reading_10['reading_score'].mean()
wright_reading_11 = jr.loc[(jr["school_name"] == "Wright High School")]
wright_avg_reading_11 = wright_reading_11['reading_score'].mean()
wright_reading_12 = sr.loc[(sr["school_name"] == "Wright High School")]
wright_avg_reading_12 = wright_reading_12['reading_score'].mean()

wright_math_9 = fr.loc[(fr["school_name"] == "Wright High School")]
wright_avg_math_9 = wright_math_9['math_score'].mean()
wright_math_10 = so.loc[(so["school_name"] == "Wright High School")]
wright_avg_math_10 = wright_math_10['math_score'].mean()
wright_math_11 = jr.loc[(jr["school_name"] == "Wright High School")]
wright_avg_math_11 = wright_math_11['math_score'].mean()
wright_math_12 = sr.loc[(sr["school_name"] == "Wright High School")]
wright_avg_math_12 = wright_math_12['math_score'].mean()

wright_reading_9 = fr.loc[(fr["school_name"] == "Wright High School")]
wright_avg_reading_9 = wright_reading_9['reading_score'].mean()
wright_reading_10 = so.loc[(so["school_name"] == "Wright High School")]
wright_avg_reading_10 = wright_reading_10['reading_score'].mean()
wright_reading_11 = jr.loc[(jr["school_name"] == "Wright High School")]
wright_avg_reading_11 = wright_reading_11['reading_score'].mean()
wright_reading_12 = sr.loc[(sr["school_name"] == "Wright High School")]
wright_avg_reading_12 = wright_reading_12['reading_score'].mean()

rodriguez_math_9 = fr.loc[(fr["school_name"] == "Rodriguez High School")]
rodriguez_avg_math_9 = rodriguez_math_9['math_score'].mean()
rodriguez_math_10 = so.loc[(so["school_name"] == "Rodriguez High School")]
rodriguez_avg_math_10 = rodriguez_math_10['math_score'].mean()
rodriguez_math_11 = jr.loc[(jr["school_name"] == "Rodriguez High School")]
rodriguez_avg_math_11 = rodriguez_math_11['math_score'].mean()
rodriguez_math_12 = sr.loc[(sr["school_name"] == "Rodriguez High School")]
rodriguez_avg_math_12 = rodriguez_math_12['math_score'].mean()

rodriguez_reading_9 = fr.loc[(fr["school_name"] == "Rodriguez High School")]
rodriguez_avg_reading_9 = rodriguez_reading_9['reading_score'].mean()
rodriguez_reading_10 = so.loc[(so["school_name"] == "Rodriguez High School")]
rodriguez_avg_reading_10 = rodriguez_reading_10['reading_score'].mean()
rodriguez_reading_11 = jr.loc[(jr["school_name"] == "Rodriguez High School")]
rodriguez_avg_reading_11 = rodriguez_reading_11['reading_score'].mean()
rodriguez_reading_12 = sr.loc[(sr["school_name"] == "Rodriguez High School")]
rodriguez_avg_reading_12 = rodriguez_reading_12['reading_score'].mean()

johnson_math_9 = fr.loc[(fr["school_name"] == "Johnson High School")]
johnson_avg_math_9 = johnson_math_9['math_score'].mean()
johnson_math_10 = so.loc[(so["school_name"] == "Johnson High School")]
johnson_avg_math_10 = johnson_math_10['math_score'].mean()
johnson_math_11 = jr.loc[(jr["school_name"] == "Johnson High School")]
johnson_avg_math_11 = johnson_math_11['math_score'].mean()
johnson_math_12 = sr.loc[(sr["school_name"] == "Johnson High School")]
johnson_avg_math_12 = johnson_math_12['math_score'].mean()

johnson_reading_9 = fr.loc[(fr["school_name"] == "Johnson High School")]
johnson_avg_reading_9 = johnson_reading_9['reading_score'].mean()
johnson_reading_10 = so.loc[(so["school_name"] == "Johnson High School")]
johnson_avg_reading_10 = johnson_reading_10['reading_score'].mean()
johnson_reading_11 = jr.loc[(jr["school_name"] == "Johnson High School")]
johnson_avg_reading_11 = johnson_reading_11['reading_score'].mean()
johnson_reading_12 = sr.loc[(sr["school_name"] == "Johnson High School")]
johnson_avg_reading_12 = johnson_reading_12['reading_score'].mean()

ford_math_9 = fr.loc[(fr["school_name"] == "Ford High School")]
ford_avg_math_9 = ford_math_9['math_score'].mean()
ford_math_10 = so.loc[(so["school_name"] == "Ford High School")]
ford_avg_math_10 = ford_math_10['math_score'].mean()
ford_math_11 = jr.loc[(jr["school_name"] == "Ford High School")]
ford_avg_math_11 = ford_math_11['math_score'].mean()
ford_math_12 = sr.loc[(sr["school_name"] == "Ford High School")]
ford_avg_math_12 = ford_math_12['math_score'].mean()

ford_reading_9 = fr.loc[(fr["school_name"] == "Ford High School")]
ford_avg_reading_9 = ford_reading_9['reading_score'].mean()
ford_reading_10 = so.loc[(so["school_name"] == "Ford High School")]
ford_avg_reading_10 = ford_reading_10['reading_score'].mean()
ford_reading_11 = jr.loc[(jr["school_name"] == "Ford High School")]
ford_avg_reading_11 = ford_reading_11['reading_score'].mean()
ford_reading_12 = sr.loc[(sr["school_name"] == "Ford High School")]
ford_avg_reading_12 = ford_reading_12['reading_score'].mean()

thomas_math_9 = fr.loc[(fr["school_name"] == "Thomas High School")]
thomas_avg_math_9 = thomas_math_9['math_score'].mean()
thomas_math_10 = so.loc[(so["school_name"] == "Thomas High School")]
thomas_avg_math_10 = thomas_math_10['math_score'].mean()
thomas_math_11 = jr.loc[(jr["school_name"] == "Thomas High School")]
thomas_avg_math_11 = thomas_math_11['math_score'].mean()
thomas_math_12 = sr.loc[(sr["school_name"] == "Thomas High School")]
thomas_avg_math_12 = thomas_math_12['math_score'].mean()

thomas_reading_9 = fr.loc[(fr["school_name"] == "Thomas High School")]
thomas_avg_reading_9 = thomas_reading_9['reading_score'].mean()
thomas_reading_10 = so.loc[(so["school_name"] == "Thomas High School")]
thomas_avg_reading_10 = thomas_reading_10['reading_score'].mean()
thomas_reading_11 = jr.loc[(jr["school_name"] == "Thomas High School")]
thomas_avg_reading_11 = thomas_reading_11['reading_score'].mean()
thomas_reading_12 = sr.loc[(sr["school_name"] == "Thomas High School")]
thomas_avg_reading_12 = thomas_reading_12['reading_score'].mean()

math9_byschool = [huang_avg_math_9, figueroa_avg_math_9, shelton_avg_math_9, hernandez_avg_math_9, griffin_avg_math_9, 
                  wilson_avg_math_9, cabrera_avg_math_9, bailey_avg_math_9, holden_avg_math_9, pena_avg_math_9, wright_avg_math_9,
                  rodriguez_avg_math_9, johnson_avg_math_9, ford_avg_math_9, thomas_avg_math_9]
math10_byschool = [huang_avg_math_10, figueroa_avg_math_10, shelton_avg_math_10, hernandez_avg_math_10, griffin_avg_math_10, 
                  wilson_avg_math_10, cabrera_avg_math_10, bailey_avg_math_10, holden_avg_math_10, pena_avg_math_10, wright_avg_math_10,
                  rodriguez_avg_math_10, johnson_avg_math_10, ford_avg_math_10, thomas_avg_math_10]
math11_byschool = [huang_avg_math_11, figueroa_avg_math_11, shelton_avg_math_11, hernandez_avg_math_11, griffin_avg_math_11, 
                  wilson_avg_math_11, cabrera_avg_math_11, bailey_avg_math_11, holden_avg_math_11, pena_avg_math_11, wright_avg_math_11,
                  rodriguez_avg_math_11, johnson_avg_math_11, ford_avg_math_11, thomas_avg_math_11]
math12_byschool = [huang_avg_math_12, figueroa_avg_math_12, shelton_avg_math_12, hernandez_avg_math_12, griffin_avg_math_12, 
                  wilson_avg_math_12, cabrera_avg_math_12, bailey_avg_math_12, holden_avg_math_12, pena_avg_math_12, wright_avg_math_12,
                  rodriguez_avg_math_12, johnson_avg_math_12, ford_avg_math_12, thomas_avg_math_12]

reading9_byschool = [huang_avg_reading_9, figueroa_avg_reading_9, shelton_avg_reading_9, hernandez_avg_reading_9,
                     griffin_avg_reading_9, wilson_avg_reading_9, cabrera_avg_reading_9, bailey_avg_reading_9, 
                     holden_avg_reading_9, pena_avg_reading_9, wright_avg_reading_9, rodriguez_avg_reading_9, 
                     johnson_avg_reading_9, ford_avg_reading_9, thomas_avg_reading_9]
reading10_byschool = [huang_avg_reading_10, figueroa_avg_reading_10, shelton_avg_reading_10, hernandez_avg_reading_10,
                     griffin_avg_reading_10, wilson_avg_reading_10, cabrera_avg_reading_10, bailey_avg_reading_10, 
                     holden_avg_reading_10, pena_avg_reading_10, wright_avg_reading_10, rodriguez_avg_reading_10, 
                     johnson_avg_reading_10, ford_avg_reading_10, thomas_avg_reading_10]
reading11_byschool = [huang_avg_reading_11, figueroa_avg_reading_11, shelton_avg_reading_11, hernandez_avg_reading_11,
                     griffin_avg_reading_11, wilson_avg_reading_11, cabrera_avg_reading_11, bailey_avg_reading_11, 
                     holden_avg_reading_11, pena_avg_reading_11, wright_avg_reading_11, rodriguez_avg_reading_11, 
                     johnson_avg_reading_11, ford_avg_reading_11, thomas_avg_reading_11]
reading12_byschool = [huang_avg_reading_12, figueroa_avg_reading_12, shelton_avg_reading_12, hernandez_avg_reading_12,
                     griffin_avg_reading_12, wilson_avg_reading_12, cabrera_avg_reading_12, bailey_avg_reading_12, 
                     holden_avg_reading_12, pena_avg_reading_12, wright_avg_reading_12, rodriguez_avg_reading_12, 
                     johnson_avg_reading_12, ford_avg_reading_12, thomas_avg_reading_12]
#school_clean["Avg Math Score"] = avg_math_byschool


#school_clean["Avg Reading Score"] = avg_reading_byschool

#school_clean.head()

school_avgmath_bygrade = school_clean[["Type", "Total Students"]]

school_avgmath_bygrade["9th"] = math9_byschool
school_avgmath_bygrade["10th"] = math10_byschool
school_avgmath_bygrade["11th"] = math11_byschool
school_avgmath_bygrade["12th"] = math12_byschool


school_avgmath_bygrade_clean = school_avgmath_bygrade[["9th", "10th", "11th", "12th"]]
school_avgmath_bygrade_clean
#fr_avgstats = fr_byschool.mean()
#fr_avgstats

#combine the series into a dataframe

C:\Users\linma\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:334: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\linma\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:335: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\linma\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:336: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\linma\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:337: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

                             9th       10th       11th       12th
School Name
Huang High School      77.027251  75.908735  76.446602  77.225641
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Shelton High School    83.420755  82.917411  83.383495  83.778976
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Griffin High School    82.044010  84.229064  83.842105  83.356164
Wilson High School     83.085578  83.724422  83.195326  83.035794
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Bailey High School     77.083676  76.996772  77.515588  76.492218
Holden High School     83.787402  83.429825  85.000000  82.855422
Pena High School       83.625455  83.372000  84.328125  84.121547
Wright High School     83.264706  84.010288  83.836782  83.644986
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Johnson High School    77.187857  76.691117  77.491653  76.863248
Ford High School       77.361345  77.672316  76.918058  76.179963
Thomas High School     83.590022  83.087886  83.498795  83.497041

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [117]:
school_avgreading_bygrade = school_clean[["Type", "Total Students"]]

school_avgreading_bygrade["9th"] = reading9_byschool
school_avgreading_bygrade["10th"] = reading10_byschool
school_avgreading_bygrade["11th"] = reading11_byschool
school_avgreading_bygrade["12th"] = reading12_byschool


school_avgreading_bygrade_clean = school_avgreading_bygrade[["9th", "10th", "11th", "12th"]]
school_avgreading_bygrade_clean

C:\Users\linma\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\linma\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\linma\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\linma\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

                             9th       10th       11th       12th
School Name
Huang High School      81.290284  81.512386  81.417476  80.305983
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Shelton High School    84.122642  83.441964  84.373786  82.781671
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Griffin High School    83.369193  83.706897  84.288089  84.013699
Wilson High School     83.939778  84.021452  83.764608  84.317673
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Bailey High School     81.303155  80.907183  80.945643  80.912451
Holden High School     83.677165  83.324561  83.815534  84.698795
Pena High School       83.807273  83.612000  84.335938  84.591160
Wright High School     83.833333  83.812757  84.156322  84.073171
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Johnson High School    81.260714  80.773431  80.616027  81.227564
Ford High School       80.632653  81.262712  80.403642  80.662338
Thomas High School     83.728850  84.254157  83.585542  83.831361

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [118]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [122]:
school_clean["Scores By Student Budget"] = pd.cut(school_clean["Per Student Budget"], spending_bins, labels=group_names)

school_clean_bybudget = school_clean.groupby("Scores By Student Budget")

new_school_clean_bybudget = school_clean_bybudget[["Avg Math Score", "Avg Reading Score", "% Passing Math", "% Passing Reading", "% Overall Pass Rate"]]
new_school_clean_bybudget.mean()

,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Pass Rate
Scores By Student Budget,,,,,
<$585,83.455399,83.933814,0.934601,0.966109,0.950355
$585-615,83.599686,83.885211,0.942309,0.959003,0.950656
$615-645,79.079225,81.891436,0.756682,0.861066,0.808874
$645-675,76.997210,81.027843,0.661648,0.811340,0.736494

## Scores by School Size

* Perform the same operations as above, based on school size.

In [123]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [124]:
school_clean["Scores By Size"] = pd.cut(school_clean["Total Students"], size_bins, labels=group_names)

school_clean_bysize = school_clean.groupby("Scores By Size")

new_school_clean_bysize = school_clean_bysize[["Avg Math Score", "Avg Reading Score", "% Passing Math", "% Passing Reading", "% Overall Pass Rate"]]
new_school_clean_bysize.mean()

,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Pass Rate
Scores By Size,,,,,
Small (<1000),83.821598,83.929843,0.935502,0.960994,0.948248
Medium (1000-2000),83.374684,83.864438,0.935997,0.967907,0.951952
Large (2000-5000),77.746417,81.344493,0.699634,0.827666,0.763650

## Scores by School Type

* Perform the same operations as above, based on school type.

In [126]:
school_clean_bytype = school_clean.groupby("Type")

new_school_clean_bytype = school_clean_bytype[["Avg Math Score", "Avg Reading Score", "% Passing Math", "% Passing Reading", "% Overall Pass Rate"]]
new_school_clean_bytype.mean()

,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Pass Rate
Type,,,,,
Charter,83.473852,83.896421,0.936208,0.965865,0.951037
District,76.956733,80.966636,0.665485,0.807991,0.736738

In [128]:
sort_by_type = school_clean.sort_values("Type", ascending=False)
sort_by_type

,Type,Total Students,Budget,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Pass Rate,Scores By Student Budget,Scores By Size
School Name,,,,,,,,,,,
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.735002,$645-675,Large (2000-5000)
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.733639,$615-645,Large (2000-5000)
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.738080,$645-675,Large (2000-5000)
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.743067,$615-645,Large (2000-5000)
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.732933,$615-645,Large (2000-5000)
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.736400,$645-675,Large (2000-5000)
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.738043,$615-645,Large (2000-5000)
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.938671,0.958546,0.948609,$585-615,Medium (1000-2000)
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.952657,$615-645,Medium (1000-2000)
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.952037,<$585,Large (2000-5000)
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.955867,<$585,Medium (1000-2000)
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.925059,0.962529,0.943794,<$585,Small (<1000)
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.952703,$585-615,Small (<1000)
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.933333,0.966111,0.949722,<$585,Medium (1000-2000)
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.952905,$615-645,Medium (1000-2000)